body{
    background-color: #dfd6f6;
    margin: 0px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner{
    background-color: #8e3cda;
    color: white;
    padding: 6px;
    text-align: left;
    width: 188.1px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sidebar {
    height: 100vh; 
    width: 200px; 
    position: fixed; 
    top: 100px;
    left: 0;
    background-color: #4e27af;
    padding-top: 20px;
    color: white;
}

.sidebar a {
    padding: 40px;
    text-decoration: none;
    color: white;
    display: block; 
}

.sidebar a:hover { background-color: #5351d5; }

.main-content {
    margin-left: 230px; 
    padding: 10px;
    color: rgb(23, 22, 23);
}

@font-face {
    font-family: 'Capa_Site';
    src: url('Fontes/GveretLevin-Regular.ttf') format('truetype');
}

